In [1]:
print("hello world")

hello world

In [2]:
x= 'hello world'
print(x)

hello world

In [3]:
x='hello world'
print(len(x))

11

In [9]:
print("Hello, world!")

Hello, world!

In [10]:
#Comment 
print("Hello, World!")

Hello, World!

In [11]:
print("Hello, World!") #comment

Hello, World!

In [12]:
""""
I am writing a string to see whtwher it gets printed
"""
print("hello, world!")

hello, world!

In [13]:
# Python Variables

In [14]:
x=5
y="John"
print(x)
print(y)

5
John

In [15]:
x=4 #x is an int
x="sally" # x is now type of str
print(x)

sally

In [17]:
#Casting

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x,y,z)

3 3 3.0

In [18]:
#Get the type

x=5
y="JOhn"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [19]:
#string variables can be declared either by single quotes or double quotes

x='John'
#is same as the 
x="John"

In [20]:
#Variables name are case-sensitive

a=4
A="Sally"

#here A will not overwrite a as both will be considered differenet variable name 

print(a)
print(A)

4
Sally

In [21]:
"""
Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)
A variable name cannot be any of the Python keywords.
"""

#legal variable names

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [22]:
#Illegal Variable Name

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (3965928651.py, line 3)

In [24]:
#Multi Words Variabe name

"""
Camel Case
Each word, except the first, starts with a capital letter:
"""
myVariableName = "John"

print(myVariableName)

"""
Pascal Case
Each word starts with a capital letter:
"""
MyVariableName = "John"

print(MyVariableName)

"""
Snake Case
Each word is separated by an underscore character:
"""
my_variable_name = "John"

print(my_variable_name)

John
John
John

In [25]:
#python Variable- Assign Multiple Values

#1. Many Values to Multiple Variables

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [38]:
"""
One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:
"""
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [27]:
#Unpacking
# Unpack a collection
"""
If you have a collection of values in a list, tuple etc. 
Python allows you to extract the values into variables. This is called unpacking.
"""

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [28]:
"""
One Value to Multiple Variables
And you can assign the same value to multiple variables in one line:
"""

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [29]:
#Unpack a Collection

"""
If you have a collection of values in a list, tuple etc. 
Python allows you to extract the values into variables. 
This is called unpacking.
"""
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [30]:
#OUTPUT VARIABLES
X= "PYTHON IS GREAT"
print(X)

PYTHON IS GREAT

In [31]:
# In python we can print multiple variable seperated by a comma:

x="Python"
y="is"
z="great"
print(x,y,z)

Python is great

In [33]:
# we can also use + operator 

x="Python"
y="is"
z="great"
print(x + y + z)

"""
Notice the space character after "Python " and "is ", without them the result would be "Pythonisgreat".
"""

Pythonisgreat

In [34]:
#but for numericals the + character will work as a mathematical operator

x=5
y=4
print(x+y)

9

In [35]:
# if we try and combine int and string using the + character python will give us an error

x=5
y="hello"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
#the best way to do that is adding a comma while printing the output

x=7
y= "CR"
print(y,x)

CR 7